html{
    background-color: lightblue;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.brand-logo{
    margin-left: 10px;
}

.card-panel{
    background-image: url("img.jpg");
}
#cityName{
    display: inline;
    color: teal;
}

.todayInfo {
    font-size: medium;
    padding-top: 20px;
}
.stats li{
    padding: 5px;
    color: rgb(53, 53, 53);
}
#searchBtn{
    margin-top: 0px;
}
#history{
    margin-top: 10px;
}
.historyCity{
    margin-top: 7px;
    width: 40%;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: teal;
}

