html{
    background-color: lightblue;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.card-panel{
    background-image: url("img.jpg");
}
#icon{
    height: 70px;
    padding-left: 30px;
}
.todayInfo{
    font-size: medium;
}